<div class="ticketContainer">
    <div>
        <h2>Informacion de la compra</h2>
    </div>

    <div class="ticketInfo">
        <h4>Purchase code: {{ticket.code}}</h4>
        <h5>Buyer: {{ticket.purchaser}}</h5>
        <p>Date time: {{ticket.purchase_datetime}}</p>
        <p>Amount: {{ticket.amount}}</p>
    </div>
</div>

<div>
    <button class="btn-form"><a href="/profile">Profile</a></button>
</div>